/* ------------------------------ Modo escuro ------------------------------ */

/* Estilo para o modo escuro */
body.dark-mode {
    background-color: #121212;
    /* Cor de fundo para o modo escuro */
    color: #e0e0e0;
    /* Cor do texto no modo escuro */
  }
  
  body.dark-mode .header {
    background-color: #333;
    /* Escurece o cabeçalho no modo escuro */
  }
  
  body.dark-mode .section-category {
    margin-top: 10px;
    padding: 10px;
    border: 1px solid black;
  }
  
  body.dark-mode .sidebar-categorias,
  body.dark-mode .sidebar-popular {
    background-color: #333;
    /* Escurece as sidebars */
  }
  
  body.dark-mode .product-card,
  body.dark-mode .popular-card,
  body.dark-mode .search-card {
    background-color: #1e1e1e;
    /* Escurece os cards */
    color: #e0e0e0;
    /* Texto claro nos cards */
    border: 1px solid black;
  }
  
  body.dark-mode .dark-mode-icon {
    color: #ffeb3b;
    /* Muda a cor do ícone para amarelo no modo escuro */
  }
  
  body.dark-mode #search-suggestions {
    background-color: #1e1e1e;
    border: 1px solid black;
  }
  
  /* Contêiner do ícone de alternância */
  #dark-mode-toggle {
    position: relative;
    width: 24px;
    height: 24px;
    display: inline-block;
    cursor: pointer;
  }
  
  #dark-mode-toggle:hover {
    opacity: 0.7;
    /* Reduz a opacidade no hover */
    transform: scale(1.2);
    /* Aumenta o tamanho no hover */
    color: #007bff;
  }
  
  /* Sol e lua ocupam o mesmo espaço */
  .darkmode-icon {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 24px;
    transition: transform 0.3s ease, opacity 0.3s ease, visibility 0.3s ease;
  }
  
  /* Sol visível no modo claro */
  body:not(.dark-mode) .darkmode-icon.sun {
    visibility: visible;
    opacity: 1;
    transform: rotate(0deg);
  }
  
  /* Lua visível no modo escuro */
  body.dark-mode .darkmode-icon.moon {
    visibility: visible;
    opacity: 1;
    transform: rotate(0deg);
  }
  
  /* Sol invisível no modo escuro */
  body.dark-mode .darkmode-icon.sun {
    visibility: hidden;
    opacity: 0;
    transform: rotate(90deg);
  }
  
  /* Lua invisível no modo claro */
  body:not(.dark-mode) .darkmode-icon.moon {
    visibility: hidden;
    opacity: 0;
    transform: rotate(90deg);
  }
  
  body.dark-mode .search-suggestions {
    background-color: #444;
    color: white;
  }
  body .search-suggestions {
    background-color: white;
    color: black;
  }